// layout
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

// position
.position-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.position-vertical-center {
	top: 50%;
	transform: translateY(-50%);
}
.position-horizontal-center {
	left: 50%;
	transform: translateX(-50%);
}
.position-full-page {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.line-break {
	display: block;
}

.one-sidebar {
  height: 100vh;
}

.one-nav {
  height: 100%;
}

.one-main {
  height: 100vh;
  background-color: #fff;
}

.one-header {
  background-color: #f0f2f5;

  .one-logo {
    cursor: pointer;

    span {
      background: linear-gradient(to right, #335e9e, #f8cce1f8);
      font-size: 3rem;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: 0.5s;
    }
    
    :hover span{
      background: none;
      transform: scale(1.5,1.5);
    }
  }  
}

.one-welcome {
  overflow: hidden;
  position: relative;
  height: 100%;
  
  .txt {
    position: relative;
    z-index: 10;
    font-weight: lighter;
    font-size: 2.4rem;
  }
  
  .img {
    position: absolute;
    z-index: 1;
    width: auto;
    height: 100%;
  }
  
  .btn-wrap {
    position: absolute;
    top: 71%;
    z-index: 1;
    width: 3.65em;
    height: 3.65em;
  }
  
  .btn-shortcut {
    width: 2em;
    min-width: auto;
    height: 2em;
    font-size: 1.6rem;
  }
}

.one-login {
  height: 100%;
  
  .shortcut {
    justify-content: space-evenly;
  }
  
  .one-input-email {
    margin-bottom: 0;
  }
  
  .one-input-pw {
    margin-bottom: 0.75em;
  }
}

.one-post-write {
  height: 100%;
  padding: 9% 7%;
  clear: both;
  
  .one-liveClock-container {
    padding: 0.5em ;
    float: left;
  }
  
  .one-textarea {
    height: 100%;
    margin-bottom: 1.5em;
  }

  .one-post-btn-container {
    justify-content: space-between;
  }
}

.one-settings {
  flex-direction: column;
  height: 100%;
  
  .ant-form-item {
    width: 400px;
    transform: translateX(-14%);
  }
  
  .btn-wrap {
    .ant-form-item-control-wrapper {
      width: 100%;
      margin-left: 0;
    }
    
    .ant-form-item-children {
      margin-left: 133px;
    }
    
    .btn-submit {
      margin-right: 0.8em;
    }
  }
}

.one-signup {
  flex-direction: column;
  height: 100%;
  
  .ant-form-item {
    width: 400px;
    transform: translateX(-14%);
  }
  
  .one-checkbox-wrap,
  .btn-wrap {
    margin-bottom: 0;
  }
}

.one-unsubscribe {
  flex-direction: column;
  height: 100%;
  
  .txt {
    margin-bottom: 3em;
  }
  
  .line-break {
    font-size: 1.1rem;
    line-height: 1.8;
  }
  
  .btn-cancel {
    margin-right: 0.8em;
  }
}